/**
 * TODO read https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
 * TODO review https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
 * TODO aria for status messages
 * TODO describe template data
 * TODO rename out_of_range to within_range
 */
html body {
  margin: 8px;
  font-family: 'Inter', system-ui, arial;
  font-size: 13.50px;
  /*color: #FFFFFF;
  background: rgba(20, 24, 23, 1);*/
}

h2 {
  margin-top: 60px;
  font-size: 24px;
  font-weight: 300;
}

h3 {
  font-weight: 300;
}

label {
  display: inline-block; /* https://stackoverflow.com/questions/15929141/margin-top-not-working-with-label */
  margin: 4px 0px;
}

input {
  width: 0; /* allow input[type=number] be less than default in chrome */
  min-width: clamp(80px, 50%, 200px); /* 0 fix input[type=number] behaviour in Firefox */
  /*min-width: 0;*/
  padding: 4px;
  font-family: system-ui, monospace;
  font-size: 16px; /* if font-size less than 16px iphone 12 mini will scale page up to presumably make font-size 16px */
  color: black;
  text-align: right;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: white;
}

input[type=number] {
  text-align: right;
}

select {
  min-width: clamp(80px, 50%, 200px);
  margin: 0px;
  font-family: system-ui, monospace;
  font-size: 16px;
  color: black;
  text-align: right;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid gray;
  background-color: white;
}

    button {
        /*-webkit-appearance: none;*/
        font-size: 16px;
    }

    fieldset {
        margin: 16px 0px;
        border-radius: 4px;
        border: 1px solid gray;
    }

    .pass {
        display: inline-block;
        margin: 2px 0px;
        color: green;
    }

    .na {
        display: inline-block;
        margin: 2px 0px;
        color: gray;
    }

    .fail {
        display: inline-block;
        margin: 2px 0px;
        color: red;
    }

    /*    @media (max-width: 360px) {
          input {
            -webkit-appearance: none;
            min-width: 50%;
            font-size: 16px;
          }

          select {
            min-width: 50%;
            font-size: 16px;
          }

          button {
            padding: 4px 16px;
            border-radius: 4px;
            font-size: 16px;
          }
        }

        @media (max-width: 180px) {
          input {
            min-width: 100%;
          }

          select {
            min-width: 100%;
          }
        }
    */

table, th, td {
  border-spacing: 0px;
}

table {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  border: 1px solid rgba(44, 46, 45, 1);
  border-radius: 8px;
}

thead {
}

.btlr {
  border-top-left-radius: 7px;
}

.btrr {
  border-top-right-radius: 7px;
}

th {
  font-size: 13.50px;
  font-weight: 500;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid rgba(44, 46, 45, 1);
  /*background: rgba(30, 32, 31, 1);*/
}

td {
  padding: 10px;
  font-size: 12px;
  font-weight: 400;
}

.green, .buy {
  color: #00A000;
}

.red, .sell {
  color: #B80000;
}

.profit {
  margin-bottom: 20px;
  text-align: right;
}

.footer {
  margin: 20px 0;
  text-align: right;
}

