<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="/typography.css" rel="stylesheet" />
  <link href="/controls.css" rel="stylesheet" />
  <link href="/layout.css" rel="stylesheet" />
  <link href="/colors.css" rel="stylesheet" />
  <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/fcf7691b3295720421fa97fa/script.js"></script>
  
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-R46E7C4SJN"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-R46E7C4SJN');
  </script>
  
  <script type="text/javascript">
    (function() {
    window.__insp = window.__insp || [];
    __insp.push(['wid', 807725469]);
    var ldinsp = function(){
    if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=807725469&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
    setTimeout(ldinsp, 0);
    })();
  </script>
    
  <script>
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:5060166,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
</head>
<body>${false ? 'TODO find approach to create and reuse partials for status' : ''}

  <div class="container">

    <div>
      <header>
        <div class="header-container">
          <p><a href="/">Grid Trading Strategy</a></p>
          <nav class="nav">
            <ul>
              <li><a href="/articles">Articles</a></li>
            </ul>
          </nav>
        </div>
        <hr />
      </header>
    </div>

    <div class="hero">

    <img width="405" height="232" class="chart" src="BTCUSDT-1d-candlestick-2023.svg" alt="BTC USDT 1d candlestick 2023"/>

    <div class="form">
      <form class="form" method="GET" action="/calc">

        <h3 class="title">
          <span class="B">&nbsp;</span><span>BTC/USDT Spot Grid ${obj.period} days</span>
        </h3>

        <hr class="hr"/>

        <p class="required-fields">
          Required fields are followed by <strong><span aria-label="required">*</span></strong>.
        </p>

        <input type="hidden" name="symbol" value="BTCUSDT" />

        <fieldset class="date-range">
          <legend>Date Range <span class="range-details">(date within 2023)</span></legend>
          <div class="from"> <!-- div required for vertical layout in w3m, lynx, links etc -->
            <div class="label">
              <label for="from">
                <span id="date-range-from">From <strong><span class="asterisk" aria-label="required">*</span></strong></span>
              </label>
            </div>
            <input class="calc-input" type="date" id="from" name="from" required aria-describedby="date-range-from" value="${obj.from}" disabled />
          </div>

          <div class="to">
            <div class="label">
              <label for="to">
                <span id="date-range-to">To <strong><span class="asterisk" aria-label="required">*</span></strong></span>
              </label>
            </div>
            <input class="calc-input" type="date" id="to" name="to" required aria-describedby="date-range-to" value="${obj.to}" disabled />
          </div>

        </fieldset>

        <fieldset class="price-range">
          <legend>Price Range <span class="range-details">(multiple of 1000)</span></legend>
          <div class="lower">
            <div class="label">
              <label for="lower">
                <span class="name">Lower</span><span class="spacer"> </span><span class="usdt"><span class="bracket">[</span>USDT<span class="bracket">]</span></span><strong><span class="asterisk" aria-label="required"> *</span></strong><span class="T"></span>
              </label>
            </div>
              <!-- property size ignored by chrome, but required for firefox to more unify (with chrome) handle min-width -->
              <input class="calc-input" required type="number" id="lower" name="lower" aria-describedby="price-range-lower" min="1000" step="1000" size="10" placeholder="&geq;1000" value="${obj.lower}" disabled />
          </div>

          <div class="upper">
            <div class="label">
              <label for="upper">
                <span class="name">Upper</span><span class="spacer"> </span><span class="usdt"><span class="bracket">[</span>USDT<span class="bracket">]</span></span><strong><span class="asterisk" aria-label="required"> *</span></strong><span class="T"></span>
              </label>
            </div>
            <input class="calc-input" required type="number" id="upper" name="upper" aria-describedby="price-range-upper" min="2000" step="1000" size="10" placeholder="&gt;Lower" value="${obj.upper}" disabled />
          </div>

        </fieldset>

        <fieldset>
          <legend>Grid Parameters</legend>
          <div class="mode">
            <div class="label">
              <label for="mode">
                <span class="name" id="grid-mode">Mode </span><strong><span class="asterisk" aria-label="required">*</span></strong>
              </label>
            </div>
            <select class="calc-select" id="mode" name="mode" aria-describedby="grid-mode" disabled>
              <option value="arithmetic" selected>Arithmetic</option>
              <option value="geometric" disabled>Geometric</option>
            </select>
          </div>
          <div class="grids">
            <div class="label">
              <label id="mode-grids" for="grids">
                <span class="name">Grids </span><strong><span class="asterisk" aria-label="required">*</span></strong>
              </label>
            </div>
            <input class="calc-input" required type="number" id="grids" name="grids" aria-describedby="mode-grids" min="2" max="20" step="1" size="10" placeholder="2~20" value="${obj.grids}" disabled />
          </div>

        </fieldset>

        <fieldset>
          <legend>Investment</legend>
          <div class="investment">
            <div class="label">
              <label id="investment-amount" for="investment">
                <span class="name">Amount</span><span class="spacer"> </span><span class="usdt"><span class="bracket">[</span>USDT<span class="bracket">]</span></span><strong><span class="asterisk" aria-label="required"> *</span></strong><span class="T"></span>
              </label>
            </div>
            <input class="calc-input" required type="number" id="investment" name="investment" aria-describedby="investment-amount" min="1" value="${obj.inv}" disabled />
          </div>
        </fieldset>
${obj.recalculate ? `
        <div class="link">
          <a href="${obj.recalculate.link}">Recalculate</a>
        </div>
` : ''}
      </form>
    </div>

    <div class="table">
    <table>
      <thead>
        <tr>
          <th class="btlr">Total Investment</th>
          <th>Balance</th>
          <th class="btrr">Annualized Return</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>${obj.inv} USDT</td>
          <td>${obj.balance} USDT</td>
          <td>${obj.annual_pc}%</td>
        </tr>
      </tbody>
    </table>
    </div>

    <div class="table">
    <table>
      <thead>
        <tr>
          <th class="btlr">Total PnL ${obj.total_pnl_pc}%</th>
          <th>Grid Profit ${obj.grid_profit_pc}%</th>
          <th class="btrr">Floating PnL ${obj.floating_pnl_pc}%</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>${obj.total_pnl} USDT</td>
          <td>${obj.grid_profit} USDT</td>
          <td>${obj.floating_pnl} USDT</td>
        </tr>
      </tbody>
    </table>
    </div>
  
    </div>

    <h2>Details</h2>

    <div class="table">
    <table>
      <thead>
        <tr>
          <th class="btlr">Entry Price</th>
          <th>Last Price</th>
          <th class="btrr">Amount per Grid</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>${obj.first} USDT</td>
          <td>${obj.last} USDT</td>
          <td>${obj.amount} BTC</td>
        </tr>
      </tbody>
    </table>
    </div>

    <div class="table">
    <table>
      <thead>
        <tr>
          <th class="btlr">Initial&nbsp;Distribution</th>
          <th>Total&nbsp;Executions</th>
          <th>Total&nbsp;Matched&nbsp;Trades</th>
          <th class="btrr">Final&nbsp;Distribution</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>${obj.first_quote} USDT + ${obj.first_base} BTC</td>
          <td>${obj.total_exec}</td>
          <td>${obj.total_match}</td>
          <td>${obj.last_quote} USDT + ${obj.last_base} BTC</td>
        </tr>
      </tbody>
    </table>
    </div>

    <div class="table">
    <table>
      <thead>
        <tr>
          <th class="btlr">Grid #</th>
          <th>Lower Price</th>
          <th>Upper Price</th>
          <th>Investment</th>
          <th>Profit per Grid</th>
          <th class="btrr">Profit per Grid %</th>
        </tr>
      </thead>
      <tbody>${obj.grid.map((item, i) => `
        <tr>
          <td>${i + 1}</td><td>${item.lower} USDT</td><td>${item.upper} USDT</td><td>${item.inv} USDT</td><td>${item.profit_per_grid} USDT</td><td>${item.profit_per_grid_pc}%</td>
        </tr>`).join('')}
      </tbody>
    </table>
    </div>

    <div class="table">
    <table>
      <thead>
        <tr>
          <th class="btlr">Grid #</th>
          <th>Initial Distribution</th>
          <th>Executions</th>
          <th>Matched Trades</th>
          <th>Grid Profit</th>
          <th class="btrr">Final Distribution</th>
        </tr>
      </thead>
      <tbody>${obj.grid.map((item, i) => `
        <tr>
          <td>${i + 1}</td><td>${item.first_base} BTC + ${item.first_quote} USDT</td><td>${item.exec}</td><td>${item.match}</td><td>${item.profit} USDT</td><td>${item.base} BTC + ${item.quote} USDT</td>
        </tr>`).join('')}
      </tbody>
    </table>
    </div>

    <h2>Order History</h2>
    ${obj.log.map((item, i) => `

    <div class="table">
    <table>
      <thead>
        <tr>
          <th class="btlr">Grid #</th><th>Order Time</th><th>Side</th><th>Price</th><th>Executed</th><th>Total</th><th class="btrr">Fee</th>
        </tr>
      </thead>
      <tbody>${item.buy != undefined ? `
        <tr>
          <td>${item.grid}</td><td>${item.buy.time}</td><td class="buy">buy</td><td>${item.buy.price} USDT</td><td>${item.buy.exec} BTC</td><td>${item.buy.total} USDT</td><td>${item.buy.fee} BTC</td>
        </tr>` : ''}${item.sell != undefined ? `
        <tr>
          <td></td><td>${item.sell.time}</td><td class="sell">sell</td><td>${item.sell.price} USDT</td><td>${item.sell.exec} BTC</td><td>${item.sell.total} USDT</td><td>${item.sell.fee} USDT</td>
        </tr>` : ''}
      </tbody>
    </table>
    <div class="profit"><span>Grid Profit: <span class="green">${item.profit}</span> USDT</span></div></div>\n`).join('')}
    

    <p>
      1 Algorithm of Initial Distribution can significantly impact on result (different implementation of trading bot can differently implement Initial Distribution)
    </p>
    <p>
      2 Calculations are made with a commission of 0.1%
    </p>
    <p>
      3 Date and Time in UTC
    </p>
    <p>
      4 For calculate Annualized % 365 days used
    </p>

    <div class="footer">
      <footer>
        <hr style="margin: 14px 7px 0px 7px;">
        <ul>
          <li><a href="/terms">Terms of Use</a></li>
          <li><a href="/cookie-policy">Cookie Policy</a></li>
          <li><a href="/privacy-policy">Policy Policy</a></li>
          <li><a href="mailto:grid.trading.strategy@gmail.com">Contact by Email</a></li>
        </ul>
      </footer>
    </div>

  </div>
</body>
</html>
