<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Result Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
<!--
  <link href="/calc.css" rel="stylesheet" />
-->
  <link href="/style.css" rel="stylesheet" />

</head>
<body>

  <div style="margin: auto; max-width: 800px;">
    <hr>

    <form method="GET">

        <h3>
            BTC/USDT spot grid bot results
        </h3>
        <p>
            Required fields are followed by
            <strong><span aria-label="required">*</span></strong>.
        </p>

        <section>
            <h3>Date Range</h3>
            <div>
                <span id="date-range-from">From: </span>
                <span>${obj.from}</span>
            </div>
            <div>
                <span id="date-range-to">To: </span>
                <span>${obj.to}</span>
            </div>
        </section>

        <section>
            <h3>Price Range</h3>
            <div>
                <span id="price-range-lower">Lower: ${obj.lower} USDT</span>
            </div>
            <div>
                <span id="price-range-upper">Upper: ${obj.upper} USDT</span>
            </div>
        </section>

        <section>
            <h3>Grid Parameters</h3>
            <div>
                <span id="grid-mode">Mode: </span>
                <span class="obj-value">${obj.mode}</span>
            </div>
            <div>
                <span id="grid-grids">Quantity: </span>
                <span class="obj-value">${obj.grids}</span>
            </div>
        </section>

        <section>
            <h3>Investment</h3>
            <div>
                <span id="investment-amount">Amount [USDT]: </span>
                <span>${obj.inv}</span>
            </div>
        </section>

        <hr>
        <section>
            <div>
                <a href="${obj.recalculate.link}">Recalculate</a>
            </div>
        </section>

    </form>

    <div>
      <br>
      BTC/USDT Spot Grid ${obj.period} days
    </div>
    <table>
      <thead>
        <tr>
          <th class="btlr">Total Investment</th>
          <th>Balance</th>
          <th class="btrr">Annualized Return</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>${obj.inv} USDT</td>
          <td>${obj.balance} USDT</td>
          <td>${obj.annual_pc}%</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th class="btlr">Total PnL ${obj.total_pnl_pc}%</th>
          <th>Grid Profit ${obj.grid_profit_pc}%</th>
          <th class="btrr">Floating PnL ${obj.floating_pnl_pc}%</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>${obj.total_pnl} USDT</td>
          <td>${obj.grid_profit} USDT</td>
          <td>${obj.floating_pnl} USDT</td>
        </tr>
      </tbody>
    </table>

    <h2>Details</h2>

    <table>
      <thead>
        <tr>
          <th class="btlr">Entry Price</th>
          <th>Last Price</th>
          <th class="btrr">Amount per Grid</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>${obj.first} USDT</td>
          <td>${obj.last} USDT</td>
          <td>${obj.amount} BTC</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th style="btlr">Initial Distribution</th>
          <th>Total Executions</th>
          <th>Total Matched Trades</th>
          <th style="btrr">Final Distribution</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>${obj.first_quote} USDT + ${obj.first_base} BTC</td>
          <td>${obj.total_exec}</td>
          <td>${obj.total_match}</td>
          <td>${obj.last_quote} USDT + ${obj.last_base} BTC</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th style="btlr">Grid #</th>
          <th>Lower Price</th>
          <th>Upper Price</th>
          <th>Investment TODO</th>
          <th>Profit per Grid</th>
          <th style="btrr">Profit per Grid %</th>
        </tr>
      </thead>
      <tbody>${obj.grid.map((item, i) => `
        <tr>
          <td>${i + 1}</td><td>${item.lower}</td><td>${item.upper}</td><td>${item.inv}</td><td>${item.profit_per_grid}</td><td>${item.profit_per_grid_pc}</td>
        </tr>`).join('')}
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th style="btlr">Grid #</th>
          <th>Initial Distribution</th>
          <th>Executions</th>
          <th>Matched Trades</th>
          <th>Grid Profit</th>
          <th style="btrr">Final Distribution</th>
        </tr>
      </thead>
      <tbody>${obj.grid.map((item, i) => `
        <tr>
          <td>${i + 1}</td><td>${item[1]}</td><td>${item.exec}</td><td>${item.match}</td><td>${item.profit}</td><td>${item[5]}</td>
        </tr>`).join('')}
      </tbody>
    </table>

    <h2>Order History</h2>
    ${obj.log.map((item, i) => `
    <table>
      <thead>
        <tr>
          <th class="btlr">Grid #</th><th>Order Time</th><th>Side</th><th>Price</th><th>Executed</th><th>Total</th><th class="btrr">Fee</th>
        </tr>
      </thead>
      <tbody>${item.buy != undefined ? `
        <tr>
          <td>${item.grid}</td><td>${item.buy.time}</td><td class="buy">buy</td><td>${item.buy.price} USDT</td><td>${item.buy.exec} BTC</td><td>${item.buy.total} USDT</td><td>${item.buy.fee} BTC</td>
        </tr>` : ''}${item.sell != undefined ? `
        <tr>
          <td></td><td>${item.sell.time}</td><td class="sell">sell</td><td>${item.sell.price} USDT</td><td>${item.sell.exec} BTC</td><td>${item.sell.total} USDT</td><td>${item.sell.fee} USDT</td>
        </tr>` : ''}
      </tbody>
    </table>
    <div class="profit"><span>Profit: <span class="green">${item.profit}</span> USDT</span></div>\n`).join('')}

    <div>
      * Calculations are made with a commission of 0.1%
    </div>
    <div>
      ** Date and Time in UTC
    </div>

    <div class="footer">
      footer
    </div>

  </div>

</body>
