.card {
  border: 1px solid rgba(44, 46, 45, 1);
  border-radius: 8px;
  background-color:  #1E201F;
  padding: 8px;
}

.img-container {
  padding: 8px;
}

.card-img {
  border-radius: 8px;
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.card-title {
  font-size: 22px;
}

.card-title:hover {
  text-decoration: underline;
}

@supports (display: flex) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  @media (min-width: 640px) {
    .card {
      flex-direction: row;
    }

    .card-img {
      width: 324px;
    }
  }
}
