html {}

body {
  margin: 0px;
  font-family: system-ui, arial;
}

.form {
  padding: 7px;
}

form {
  margin: 0px;
  padding: 7px;
  border: 1px solid #2C2E2D;
  border-radius: 8px;
  /*background-color: #1E201F;*/
}

h1, h2, h3 {
  margin: 0;
  padding: 7px;
}

header a {
  padding: 0px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

p {
  margin: 0px;
  padding: 7px 7px;
  line-height: 133%;
}

.required-fields {
  padding: 2px 7px;
}

fieldset {
  padding: 7px;
  border: 0;
}

label {
  /*padding: 8px;*/
}

.from, .to, .lower, .upper, .mode, .grids, .investment {
  margin: 0px;
  padding: 5px 7px;
  position: relative;
  min-width: 200px;
}

input {
  width: 0; /* allow input[type=number] be less than default in chrome */
  min-width: clamp(80px, 50%, 200px); /* 0 fix input[type=number] behaviour in Firefox */
  margin: 0px;
  padding: 4px;
  /*font-family: 'Inter', system-ui, arial;*/
  font-family: system-ui, arial;
  font-size: 16px; /* if font-size less than 16px iphone 12 mini will scale page up to presumably make font-size 16px */
  text-align: right;
  border: 1px solid #4F5150;
  border-radius: 4px;
}

fieldset {
  margin: 7px;
  padding; 7px;
  border-radius: 4px;
  border: 1px solid gray;
}

legend {
  display: block;
  margin: 0px;
  padding: 7px;
}

label {
  display: inline-block; /* https://stackoverflow.com/questions/15929141/margin-top-not-working-with-label */
  /*margin: 4px 0px;*/
  /*padding: 4px;*/
}

input[type=number] {
  text-align: right;
}

select {
  min-width: clamp(80px, 50%, 200px);
  margin: 0px;
  /*font-family: 'Inter', system-ui, arial;*/
  font-family: system-ui, arial;
  font-size: 16px;
  color: black;
  text-align: right;
  padding: 4px 4px 4px 120px;
  border-radius: 4px;
  border: 1px solid #4F5150;
  background-color: white;
  /*-webkit-appearance: initial;*/
  -webkit-appearance: none;
}

.button {
  padding: 7px;
}

.link {
  padding: 5px 7px;
}

button {
  /*-webkit-appearance: none;*/
  padding: 8px 20px;
  /*font-family: 'Inter', system-ui, arial;*/
  font-family: system-ui, arial;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border: 0;
  border-radius: 4px;
  background-color: #26A17B;
}

button:hover {
  background-color: #2dbf92;
}

button:active {
  background-color: #218e6c;
}

img {
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
  /*margin: 0px;
  padding: 0px;*/
}

table, th, td {
  border-spacing: 0px;
}

.table {
  padding: 7px;
  /*overflow: scroll;*/
}

table {
  width: 100%;
  /*margin: 7px;*/
  /*margin-top: 40px;
  margin-bottom: 20px;*/
  border: 1px solid rgba(44, 46, 45, 1);
  border-radius: 8px;
}

.btlr {
  border-top-left-radius: 7px;
}

.btrr {
  border-top-right-radius: 7px;
}

th {
  font-weight: 500;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid rgba(44, 46, 45, 1);
  /*background: rgba(30, 32, 31, 1);*/
}

td {
  padding: 10px;
  font-weight: 400;
}

ul {
  margin: 0px;
  padding: 7px 0px;
}

ol {
  margin: 0px 0px 0px 32px;
  padding: 7px 0px;
}

li {
  padding: 0px 7px;
}

.footer ul {
  list-style: none;
}

.footer li {
  display: inline;
}

hr {
  margin: 7px -7px;
  border: 0.5px solid black;
}

.message {
  padding: 2px 7px;
}

.green, .buy {
  /*color: #00A000;*/
  color: #26A17B;
}

.red, .sell {
  /*color: #B80000;*/
  color: #D2475E;
}

.profit {
  padding: 5px 7px;
  /*margin-bottom: 20px;*/
  text-align: right;
}

.footer {
  /*margin: 6.5px 0;*/
  text-align: right;
}


.title {
  display: flex;
  align-items: center;
}

.B {
  display: none;
}

.pass {
  display: inline-block;
  /*margin: 2px 0px;*/
  color: green;
}

.na {
  display: inline-block;
  /*margin: 2px 0px;*/
  color: gray;
}

.fail {
  display: inline-block;
  /*margin: 2px 0px;*/
  color: red;
}

.profit {
  /*margin: -16px 0 16px 0;*/
}

/* https://stackoverflow.com/a/54328188 */
.table {
  /*overflow-x: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;*/
}

.table::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

