<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="/typography.css" rel="stylesheet" /> 
  <link href="/layout.css" rel="stylesheet" /> 
  <link href="/colors.css" rel="stylesheet" />
  <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/fcf7691b3295720421fa97fa/script.js"></script>
  
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-R46E7C4SJN"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-R46E7C4SJN');
  </script>
  
  <script type="text/javascript">
    (function() {
    window.__insp = window.__insp || [];
    __insp.push(['wid', 807725469]);
    var ldinsp = function(){
    if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=807725469&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
    setTimeout(ldinsp, 0);
    })();
  </script>
    
  <script>
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:5060166,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  <style>
    body {
      color: #E0E2E0;
    }
  </style>
</head>
<body>

  <div class="container">

    <div>
      <header>
        <p><a href="/">Grid Trading Strategy</a></p>
        <hr>
      </header>
    </div>

    <h2>Terms of Use</h2>

    <h3>Introduction</h3>
    <p>Effective date: 1 January 2024</p>
    <p>This document sets out the Terms of Use ("Terms") on which you may use and access our Website and all associated web pages (together, the "Service").</p>
    <p>Please read this Terms of Service agreement carefully before accessing or using the Service.</p>

    <h3>Service Description</h3>
    <p>Service provides a results for spot grid traiding strategy based on a historical date from the crypto market.</p>
    <p>Users are reminded that historical data is a crucial component here and cryptocurrency markets are volatile, and past performance does not guarantee future results. </p>
    
    <h3>Data Privacy</h3>
    <p>We use Google Analytics 4 (GA4), Inspectlet, and Hotjar to collect and analyze data about your use of our website. These tools help us understand user behavior, improve user experience, and enhance the overall functionality of our site.</p>
    
    <h4>Types of Data Collected:</h4>
    <ul>
      <li>Google Analytics 4 (GA4): GA4 collects anonymized data such as page views, user interactions, and demographic information.</li>
      <li>Inspectlet: Inspectlet records user sessions, capturing mouse movements, clicks, and scrolling behavior to help us understand how users interact with our site.</li>
      <li>Hotjar: Hotjar gathers feedback through heatmaps, session recordings, and surveys to provide insights into user experience and preferences.</li>
    </ul>

    <h4>Use of Data:</h4>
    <p>The data collected through these tools is used to:</p>
    <ul>
      <li>Analyze website traffic and usage patterns.</li>
      <li>Improve site content and layout based on user interactions.</li>
      <li>Enhance user experience by identifying and resolving issues.</li>
      <li>Collect feedback to better understand user needs and preferences.</li>
    </ul>

    <h4>Data Protection:</h4>
    <p>We ensure that all data collected is handled securely and in compliance with applicable data protection laws. The data collected through GA4, Inspectlet, and Hotjar is anonymized and does not include personally identifiable information.</p>

    <h4>Third-Party Access:</h4>
    <p>The data collected by GA4, Inspectlet, and Hotjar is processed by these third-party services in accordance with their privacy policies. We do not share your data with any other third parties without your explicit consent.</p>

    <h4>Your Rights:</h4>
    <p>You have the right to access, correct, or delete your personal data. You can also opt-out of data collection by adjusting your browser settings or using opt-out features provided by GA4, Inspectlet, and Hotjar.</p>

    <h4>Contact Us:</h4>
    <p>If you have any questions or concerns about our data privacy practices, please contact us at <a href="mailto:grid.trading.strategy@gmail.com">Email</a>.</p>
    <p>By using our Service, you consent to the collection and use of your data as described in this Data Privacy section, <a href="https://grid-trading-strategy.info/cookie-policy">Cookie Policy</a> and <a href="https://grid-trading-strategy.info/privacy-policy">Privacy Policy</a>.</p>

    <h3>Intellectual Property</h3>
    <p>All materials, including but not limited to text, tables, graphics, charts, provided on this site are intended for informational purposes only. It is important to note that we are not a financial adviser, and the content on this site should not be construed as financial advice.</p>
    <p>The calculation results presented on this site are generated using publicly available data. While we strive to ensure accuracy, it is crucial to recognize that the data may be incomplete and/or contain errors. Additionally, the calculations presented on this site may contain errors.</p>
    <p>Users are recommended to independently verify any information obtained from this site and should not solely rely on the provided indicators for making financial decisions. We disclaim any responsibility for the accuracy, completeness, or reliability of the information presented.</p>

    <h3>Financial Information</h3>
    <p>Please be advised that all financial information presented on this site is provided for informational purposes only and does not constitute financial advice. We explicitly disclaim any responsibility for the decisions made based on the information provided.</p>
    <p>Cryptocurrency trading involves inherent risks, and users should be aware of the potential financial losses associated with market fluctuations and other uncertainties. It is essential to conduct thorough research and, if necessary, seek professional financial advice before making any investment decisions.</p>
    <p>While we strive to maintain the accuracy of the information presented, users should acknowledge that data in the financial markets can be dynamic and subject to change. We do not guarantee the accuracy, completeness, or timeliness of the information provided.</p>

    <h3>Disclaimer of Warranties</h3>
    <p>Users expressly understand and agree that:</p>
    <p>The use of this website and its services is at your own risk. The Service and its content are provided on an "as is" and "as available" basis without any warranties of any kind, either expressed or implied.</p>
    <p>We expressly disclaim all warranties of any kind, whether expressed or implied, including, but not limited to, the implied warranties of merchantability, fitness for a particular purpose, or non-infringement.</p>
    <p>We make no warranty that:</p>
      <p>- The website and its services will meet your requirements.</p>
      <p> - The website will be uninterrupted, timely, secure, or error-free.</p>
      <p>- The results that may be obtained from the use of the website will be accurate or reliable.</p>
      <p>- The quality of any products, services, information, or other material purchased or obtained by you through the website will meet your expectations.</p>
    <p>Any material downloaded or otherwise obtained through the use of the Service is done at your own discretion and risk, and you will be solely responsible for any damage to your computer system or loss of data that results from the download of any such material.</p>
    <p>No advice or information, whether oral or written, obtained by you from us or through or from the website shall create any warranty not expressly stated in the terms.</p>
    <p>By using this website, you acknowledge that these disclaimers of warranties are an essential basis of the bargain between you and us, and we would not have provided the website and its services without such limitations.</p>

    <h3>Limitation of Liability</h3>
    <p>We, our affiliates, and respective agents shall not be liable for any indirect, incidental, special, consequential, or punitive damages arising from the use of the website or its services. This includes, but is not limited to, loss of profits, data, or goodwill. Our total liability for any claims related to the website is limited to the amounts paid by you within the twelve-month period preceding the claim. These limitations apply to the fullest extent permitted by law.</p>

    <h3>Termination</h3>
    <p>We reserve the right to terminate or suspend access to our website at our sole discretion, without notice, for any reason, including but not limited to a breach of these Terms of Service or any inappropriate or unlawful activity. Upon termination, all rights granted to you will cease immediately. We shall not be liable for any termination of access to the website.</p>

    <h3>Amendments</h3>
    <p>We may, at our sole discretion, modify or revise these Terms of Service at any time. Any changes will be effective immediately upon posting on the website. By continuing to use the website after such modifications, you agree to be bound by the updated terms. It is your responsibility to review these terms periodically for changes. If you do not agree with any of the amended terms, you must discontinue using the website.</p>

    <div class="footer">
      <footer>
        <hr>
        <ul>
          <li><a href="/terms">Terms of Use</a></li>
          <li><a href="/cookie-policy">Cookie Policy</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="mailto:grid.trading.strategy@gmail.com">Contact by Email</a></li>
        </ul>
      </footer>
    </div>

  </div>

</body>
</html>
